<%= render 'layouts/header'; %>
<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1><%= @admin.title %></h1>
      <%= image_tag @admin.thumbnail.url(:medium), class: "current_admin_thumbnail" %>
    </div>
  </div>

  <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li><%= link_to "Dashboard", root_path, class: "current" %></li>
        <li><%= link_to "New Podcast", new_podcast_path(@podcast)%></li>
        <li><%= link_to "Account Settings", edit_admin_registration_path %></li>
      </ul>
    </div>
  </div>

  <div id="podcast" class="cf">
  <div class="wrapper">
    <ul class="cf">
      <% @podcasts.each do |podcast| %>
        <%= link_to podcast do %>
          <li>
            <%= image_tag podcast.thumbnail.url(:medium) %>
            <div class="podcast_overview">
              <h2><%= podcast.title %></h2>
              <p class="episode_count">1 Episode</p>
            </div>  
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>
