<div id="bg">
	<header class="cf">
		<div class="wrapper_wide">
			<%= link_to "T&DBC", root_path, id: "logo" %>
			<nav>
				<ul>
					<li><%= link_to "Explore", podcasts_path, class: "explore" %></li>
					<li><%= link_to "Log in", new_user_session_path, class: "signin" %></li>
					<li><%= link_to "Sign up", new_user_registration_path, class: "signup" %></li>
				</ul>
		</nav>
		</div>	
	</header>
	<section >
		<div class="wrapper main_title">
			<h1>Sounds like SOAS</h1>
			
			<%= link_to "Log in", new_user_session_path, class: "button_main button_white" %>

			<%= link_to "Explore", podcasts_path, class: "button_main button_soas" %>
		</div>
	</section>
</div>